<div class="container d-flex justify-content-center mt-5">
  <table class="table table-dark caption-top table-hover table-borderless">
    <caption class="mb-2">
      <a href="index.php?pg=aluno" class="btn btn-primary">
        <span class="p-1"><i class="fa-solid fa-plus fa-lg"></i></span>
        Incluir Aluno
      </a>
    </caption>
    <tbody class="align-middle" style="text-align: center;">
      {{alunos}}
    </tbody>
  </table>
</div>
<script>
  document.getElementById("admin").classList.add('active');
</script>