<div class="container d-flex justify-content-start mt-5">
    <form class="row g-3 needs-validation" novalidate action="index.php?pg=register&act=insert" method="post">
        <div class="col-md-6">
            <label for="validationCustomUsername" class="form-label">Usuário</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend" required name="login" autofocus>
                <div class="invalid-feedback">
                    Informe um nome de usuário<i class="fa-solid fa-xmark p-2"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom05" class="form-label">Crie sua senha</label>
            <input type="password" class="form-control" id="validationCustom05" required name="password">
            <div class="invalid-feedback">
                Informe uma senha.
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="admin">
                <label>
                    Administrador
                </label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">
                <span class="p-1"><i class="fa-solid fa-check fa-xl"></i></span>
                Registrar
            </button>
        </div>
    </form>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

    document.getElementById("user").classList.add('active');
</script>